<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <div class="container"></div>
    <form id="form">
        <input type="text" name="query" placeholder="Enter a color palette description">
        <button type="submit" class="btn">Envoyer</button>
    </form>
    <script src="/static/app.js"></script>
</body>

</html>